<%= link_to user_path(@user.id) do %>
  <i class="fas fa-arrow-left link-left arrow"><span class="span-text"><%=  @user.name %></span></i>
<% end %>

<div class="follow-box">
<%= link_to 'フォロワー', followed_users_path(@user.id), class: 'follow-on' %>
<%= link_to 'フォロー中', following_users_path(@user.id), class: 'follow-off' %>
</div>


　<% @user.following_user.where.not(id: current_user.id).each do |user| %>
  <%= link_to user_path(user) do %> 
    <div class="follow">
    <div class="l-wrapper_06-follow">
    <div class="card_06">
  
     <p>
     <div class="follow-link-left">
      <% if user.image? %>
       <%= image_tag user.image.url, :size => '30x30', class: "image" %>
      <% else %>
       <%= image_tag "/assets/default.jpg", :size => '30x30', class: "image" %>
      <% end %>
       <%= link_to "#{user.name}", user_path(user), class: 'follow-link link-left' %>
     </div> 
       <% if current_user.following?(user) %>
       <div class="link-right">
         <%= link_to 'フォロー中', unfollow_path(user.id), class: 'search-btn', data: { confirm: "フォローを外してよろしいですか" }, method: :POST %>
       </div>  
       <% else %>
       <div class="link-right">
         <%= link_to 'フォローする', follow_path(user.id), class: 'search-btn', method: :POST %>
       </div>          
       <% end %>
     </p>  
    </div>
    </div>
    </div> 
  <% end %> 
  <% end %> 

