<div class=lesson-index-body>
<% if user_signed_in? %>
<% end %>
<div class="search">
  <%= form_tag({controller:"lessons",action:"index"}, method: :get) do %>
    <%= text_field_tag :search, "",{size:"50", placeholder:"年度や開講区分の部分検索も可能です"} %>
    <%= submit_tag '講義検索', class: 'search-btn'  %>
  <% end %>
</div>
<br>
<%= link_to "新規投稿", new_lesson_path, class: "lesson-post" %>
<h1>講義一覧</h1>
<div class="lessons-container">
  <% @lessons.each do |t| %>
    <%= link_to lesson_path(t.id) do %>
    <div class="lesson">
    <div class="l-wrapper_06">
    <div class="card_06">
    <br>
      <p class="lesson-line">年度:<%= t.academic_year %></p>
      <p class="lesson-line">開講区分:<%= t.quarter %></p>
      <p class="lesson-line">講義名:<%= t.lesson_name %></p>
      <p class="lesson-line">教員名:<%= t.teacher_name %></p>
      <p class="lesson-line">曜日:<%= t.day7 %></p>
      <p class="lesson-line">時限:<%=t.period %></p>
      <br>
        <p>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to lesson_like_path(id: t.id, lesson_id: t.id), class: "bookmark", method: :delete do %>
              <i class="fas fa-bookmark"> <span class="regist">登録解除</span></i>(<%= t.likes.count %>)
            <% end %>
          <% else %>
            <%= link_to lesson_likes_path(id: t.id, lesson_id: t.id), class: "bookmark", method: :post do %>
              <i class="far fa-bookmark"> <span class="regist">登録</span></i>(<%= t.likes.count %>)
            <% end %>
          <% end %>
        <% else %>
          <i class="far fa-bookmark"></i><%= t.likes.count %>
        <% end %>
        </p>
        <%= t.created_at %>
    </div>
    </div>
    </div>
    <% end %> 
  <% end %>
</div>
</div>