<h1>CONNECTION</h1>
<h3>授業詳細</h3>
<div class="lesson">
  <p>年度:<%= @lesson.academic_year %></p>
  <p>開講区分:<%= @lesson.quarter %></p>
  <p>講義名:<%= @lesson.lesson_name %></p>
  <p>教員名:<%= @lesson.teacher_name %></p>
  <p>曜日:<%= @lesson.day7 %>曜日</p>
  <p>時限:<%= @lesson.period %>限</p>
  投稿者: <% if @lesson.user.image? %>
            <%= image_tag @lesson.user.image.url, :size => '30x30' %>
          <% else %>
            <%= image_tag "/assets/default.jpg", :size => '30x30' %>
          <% end %>
         <a href="/users/<%= @lesson.user.id %>"><%= @lesson.user.name %></a>
  <%= link_to "授業一覧", lessons_path %>
  <%= link_to "編集する", edit_lesson_path(@lesson.id) %>
  <% if user_signed_in? %>
    <% if current_user.already_liked?(@lesson) %>
      <%= link_to lesson_like_path(@lesson), method: :delete do %>
        <i class="fas fa-bookmark"></i><%= @lesson.likes.count %>
      <% end %>
    <% else %>
      <%= link_to lesson_likes_path(@lesson), method: :post do %>
        <i class="far fa-bookmark"></i><%= @lesson.likes.count %>
      <% end %>
    <% end %>
  <% else %>
        <i class="far fa-fa-bookmark"></i><%= @lesson.likes.count %>
  <% end %>

  <%= link_to '授業登録した人', like_user_path(@lesson.id) %>

  <div class="comment-wrapper">
   <p>コメント</p>
    <% @comments.each do |c| %>
      <div>
       <%= c.id %> : <%= c.created_at %>
       名前:<% if c.user.image? %>
              <%= image_tag c.user.image.url, :size => '30x30' %>
            <% else %>
              <%= image_tag "/assets/default.jpg", :size => '30x30' %>
            <% end %><a href="/users/<%= c.user.id %>"><%= c.user.name unless c.user.blank? %></a>
       <br>
       <%= image_tag c.comment_image_url, size: "250x200" if c.comment_image? %>
       <%= c.content %>
      </div>
      <% if user_signed_in? && current_user.id == c.user_id %>
        <%= link_to "削除する", lesson_comment_path(@lesson, c.id), method: :delete %>
      <% end %>  
    <% end %>

      <% if user_signed_in? %>
        <%= form_with(model: [@lesson, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :comment_image %>
        </div>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>

 

</div>
