<br>
<%= link_to "マイページへ", user_path(current_user.id) %>
<br>
<%= link_to "DM一覧", rooms_path %>
<% @entries.each do |e| %>
  <% if e.user_id != current_user.id %>
    <h3>
    <% if e.user.image? %>
      <%= image_tag e.user.image.url, :size => '30x30', class: "image" %>
    <% else %>
      <%= image_tag "/assets/default.jpg", :size => '30x30', class: "image" %>
    <% end %>
      <strong><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong>
    </h3>
  <% end %>  
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <% if m.user_id != current_user.id %>
    <% if m.user.image? %>
      <%= image_tag m.user.image.url, :size => '30x30', class: "image" %>
    <% else %>
      <%= image_tag "/assets/default.jpg", :size => '30x30', class: "image" %>
    <% end %>
      <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %>さん</a></strong></small>
    <% end %>
    <strong>
    <%= image_tag m.message_image_url, size: "250x200" if m.message_image? %>
    <%= m.content %>
    </strong>
    <br>
    <%= m.created_at %>
    <hr>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :message_image %>
  </div>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>
