<!DOCTYPE html>
<html>
  <head>
    <title>Connection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <br>
    <%= link_to "トップページ", root_path  %>
    <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
      <!-- ユーザーがログインしていた時の処理 -->

      <h4> アカウント：<a href="/users/<%= current_user.id %>"><%= current_user.name %></a> </h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
    <% end %>
    <%= yield %>
  </body>
</html>
