<!DOCTYPE html>
<html>
  <head>
    <title>Connection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <br>
    <div class=top-link-div>
      <%= link_to "CONNECTION", root_path, class: "top-link-a"  %>
    </div>
      <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
        <!-- ユーザーがログインしていた時の処理 -->

        <h4>
        <% if current_user.image? %>
            <%= image_tag current_user.image.url, :size => '30x30' %>
        <% else %>
            <%= image_tag "/assets/default.jpg", :size => '30x30' %>
        <% end %>
        <a class="top-name" href="/users/<%= current_user.id %>"><%= current_user.name %></a> </h4>
      <% end %>
    </header>
  <body>
  <%= yield %>
  </body>
</html>
